@import './_variables';

body {
    background-image: $background;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $fontFamily;
    height: 100vh;
    margin:0;
    padding:0;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 4rem 2rem;

    .scoreContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50rem;
        border: 1px solid $white;
        padding: 2rem;
        margin: 2rem 0 0 0;
        border-radius: $borderRadius;

        .titles {
            
            h1 {
                color: $white;
                padding: 0;
                margin: 0;
                text-transform: uppercase;
            } 
        }

        .scoreCard {
            background-color: $white;
            padding: 0 2rem;
            border-radius: $borderRadius;
            display: flex;
            flex-direction: column;
            align-items: center;
            

            p.scoreTitle {
                text-transform: uppercase;
                margin: 0;
                padding: 1rem 0 0 0;
            }

            h1.score {
                font-size: $fontOne;
                margin: 0;
                padding: 0 0 1rem 0;
            }

        }
    }
}

section {
    display: flex;
    align-items: center;
    justify-content: center;

    .optionsContainer {
        // border: solid 1px red;
        width: $rectangleWidth;
        height: $rectangleHeight;
        position: relative;
        background-image: url(/src/assets/bg-triangle.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;
        
        .paperOption {
            position: absolute;
            top:0;

            .paperBackground {
                @include iconBackground;
                @include dropShadow;
                cursor: pointer;

                .paperInnerBackground {
                    @include iconInnerBackground;
                }
            }
        }

        .scissorsOption {
            position: absolute;
            top:0;
            right: 0;
            
            .scissorsBackground {
                @include iconBackground;
                background-image: $scissorsGradient;
                @include dropShadow;
                box-shadow: 0px 7.5px 0px 0px hsl(39, 86%, 38%);
                cursor: pointer;

                .scissorsInnerBackground {
                    @include iconInnerBackground;
                    background-color: $white;
                }
            }
        }

        .rockOption {
            position: absolute;
            bottom: 0;
            left: calc($rectangleWidth / 2 - 3.75rem);

            .rockBackground {
                @include iconBackground;
                background-image: $rockGradient;
                @include dropShadow;
                box-shadow: 0px 7.5px 0px 0px hsl(349, 67%, 39%);
                cursor: pointer;


                .rockInnerBackground {
                    @include iconInnerBackground;
                    background-color: $white;
                }
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 3rem;
    right: 3rem;

    button.rules {
        background-color: transparent;
        color: $white;
        font-family: $fontFamily;
        text-transform: uppercase;
        font-size: $fontTwo;
        border: 1px solid $white;
        border-radius: $borderRadius;
        padding: 1rem 3rem;
        cursor: pointer;
    }
}